/* @override http://localhost:3000/stylesheets/main.css */

body {
	font-family: Tahoma, Geneva, sans-serif;
}

#content .button.add a {
	padding: 5px 5px 5px 25px;
	color: #00711c;
	text-decoration: none;
	background: #f0fde2 url(/images/css/plus.gif) no-repeat;
}

#content .button.add a:hover {
	text-decoration: underline;
}

a {
	color: #90C208;
	text-decoration: none;
}
a:hover {
	color: #fff;
	background-color: #999;
}
a:visited {
	color: #3F5403;
}
a:visited:hover {
  color: #fff;
	background-color: #999;
}

.error {
	padding: 5px;
	background-color: red;
	color: white;
	font-weight: bold;
	font-size: 1.1em;
}

.small {
  font-size: .8em;
}

.img-left {
  float: left;
  margin: 10px;
  margin-top: 0;
  margin-left: 0;
}

#content .button {
	margin-left: 0;
	margin-top: 10px;
}

p {
	margin: 0;
	padding: 0;
	margin-top: 20px;
	margin-bottom: 5px;
	font-size: 1.2em;
	color: #999;
}

#title {
	background-color: #90C208;
	height: 100px;
	width: 100%;
	border-bottom: 3px solid #3C4217;
	background-image: url("/images/css/title-bg.jpg");
	background-repeat: repeat-x;
	background-position: top lef;
}
	#title h1 {
		font-weight: normal;
		color: #fff;
		font-family: Georgia, Georgia, serif;
	}
		#title h1 a {
			color: white;
		}
		#title h1 a:hover {
			background-color: transparent;
			color:  white;
			text-decoration: underline;
		}
		#title h1 a:visited {
			color: white;
		}


.comment-form-container {
	margin-top: 20px;
}
.comment-form label {
	display: block;
	color: #999;
	font-size: .7em;
}

#content {
	background-color: #fff;
}
	#content h1.comments {
		font-size: .9em;
		margin-top: 20px;
	}
		#content h1.comments small {
			font-size: .9em;
			color: black;
		}
	#content .comment.name {
		padding-left: 10px;
	}
	#content .comment-date {
		color: #999;
		font-size: .8em;
	}
		#content .comment .body {
			color: #999;
			font-size: .7em;
			font-weight: normal;
		}
	#content .band {
		margin-bottom: 5px;
	}
	
	#content .rank {
		color: #DEDEDE;
		font-size: 2.5em;
	}
	
	#content .name {
		margin: 0;
		padding: 0;
	}
		#content .name {
			
		}
		#content .submitted {
			font-style: italic;
			font-size: .5em;
			margin-top: 5px;
		}
		#content .band-name {
			font-size: 1.5em;
			padding: 5px;
		}
		  #content .band-name h1 {
		    color: #999;
		    font-family: Georgia, Georgia, serif;
		    font-weight: normal;
		    border-bottom: 1px solid #999;
		  }
			#content .band-name .votes, #content .band-name .comments {
				font-size: .9em;
				color: #999;
			}
		#content .odd .name {
			background-color: #efefef;
			border-top: 1px solid #CFCFCF;
			border-bottom: 1px solid #CFCFCF;
		}
		
		#content .winner .name {
			background-color: #FFF1CC;
			border-top: 1px solid #CFC4A5;
			border-bottom: 1px solid #CFC4A5;
		}
			#content .winner .name {
				color: black;
			}

#content .vote {
	margin: 0;
	padding: 0;
	height: 60px;
}
#content .up {
	background-color: #C4FFBD;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #666;
	height: 30px;
}
#content .up a, #content .up a:hover, #content .up a:visited, #content .up a:visited:hover {
	display: block;
	width: 100%;
	height: 100%;
	background-image: url("/images/css/arrow_up.gif");
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #C4FFBD;
}
#content .vote a span {
	display: none;
}

#content .down {
	background-color: #FFBDBD;
	margin: 0;
	padding: 0;
	height: 30px;
}
#content .down a, #content .down a:hover, #content .down a:visited, #content .down a:visited:hover {
	display: block;
	width: 100%;
	height: 100%;
	background-color: #FFBDBD;
	background-image: url("/images/css/arrow_down.gif");
	background-repeat: no-repeat;
	background-position: center center;
}
		
#footer {
	font-size: .8em;
	font-style: italic;
	margin-top: 20px;
}