<%
div_class = (comment_counter % 2 == 0) ? 'even' : 'odd'
%>

<div class="<%=div_class%>">
  <div class="name comment">
    <div class="comment-name">
    	<a href="mailto:test@test.com"><%= comment.name %></a><span class="comment-date"><%= comment.created_at %></span>
    </div>
    
    <div class="body">
    	<%= comment.body %>
    </div>
    
  </div>
</div>