	<div class="grid_11 prefix_1">
		<p>
			The most overrated band ever is...
		</p>
	</div>
	
	<%= render :partial => 'winner', :locals => { :band => @winner } %>
	
	<div class="grid_11 prefix_1 button add">
	  <%= link_to 'Add a band', new_band_path %>
	</div>
	
	<div class="grid_11 prefix_1">
		<p>
			The runners up...
		</p>
	</div>
	
	<div class="grid_9 alpha">  
	  <%= render :partial => 'band', :collection => @bands %>
	</div>
	
	<div class="grid_2 omega">
	  <script type="text/javascript"><!--
    google_ad_client = "pub-6808145929135266";
    /* 120x600, created 2/12/09 */
    google_ad_slot = "5069150178";
    google_ad_width = 120;
    google_ad_height = 600;
    //-->
    </script>
    <script type="text/javascript"
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
	</div>
	
	<div class="grid_11 prefix_1 button add">
	  <%= link_to 'Add a band', new_band_path %>
	</div>