<div class="grid_11 prefix_1">
		<p>
			Add a new band
		</p>
		
		<% form_for @band do |f| %>
      <p>Name:</p>
      <%= f.text_field :name %>
      
      <p><%= f.submit "Add new band"%></p>
		<% end %>
		
		<% if @suggestions %>
		  <% unless @suggestions.length == 0 %>
		    <p>Maybe you meant...</p>
  		  <ul>
  		  <% for suggestion in @suggestions %>
  		    <li><%= suggestion %></li>
  		  <% end %>
  		  </ul>
  		<% else %>
  		  <i>I have absolutely no idea what band you could be trying to reference.</i>
  		<% end %>
		<% end %>
	</div>