<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link href="stylesheets/960/960.css" media="all" rel="stylesheet" type="text/css" />
    <link href="stylesheets/960/reset.css" media="all" rel="stylesheet" type="text/css" />
    <link href="stylesheets/960/text.css" media="all" rel="stylesheet" type="text/css" />
    <link href="stylesheets/main.css" media="all" rel="stylesheet" type="text/css" />
  </head>
  
  <body>
  	
  	<div id="title" class="clearfix">
  		
  		<div class="container_12 clearfix">
  			<div class="grid_11 prefix_1 clearfix">
	  			<h1>The Most Overrated Band Ever</h1>
	  		</div>
	  	</div>
	  	
  	</div>
  	
  	<div id="content" class="clearfix">
  	
  		<div class="container_12">
  			<div class="grid_11 prefix_1">
  				<p>
  					The most overrated band ever is...
  				</p>
  			</div>
  			
  			<!-- Band Block -->
  			<div class="grid_12 band winner">
  				
  				<!-- Band Rank -->
  				<div class="alpha grid_1 rank">
  					#1
  				</div>
  				
  				<!-- Band Info -->
  				<div class="omega grid_11 name">
  					<div class="grid_1 vote alpha">
  						<div class="grid_1 up">
  							<a href="#"><span>Up</span></a>
  						</div>
  						<div class="grid_1 down">
  							<a href="#"><span>Down</span></a>
  						</div>
  					</div>
  					
  					<div class="omega grid_10 band-name">
  						Blink 182 - <span class="votes">432,321 votes</span>
  						<div class="grid_9 submitted">
	  						Submitted on Feb. 9th, 2009 @ 20:46
	  					</div>
  					</div>
  				</div>
  								
  			</div>
  			
  			<div class="grid_11 prefix_1">
  				<p>
  					The runners up...
  				</p>
  			</div>
  			
  			<!-- Band Block -->
  			<div class="grid_12 band even">
  				
  				<!-- Band Rank -->
  				<div class="alpha grid_1 rank">
  					#2
  				</div>
  				
  				<!-- Band Info -->
  				<div class="omega grid_11 name">
  					<div class="grid_1 vote alpha">
  						<div class="grid_1 up">
  							<a href="#"><span>Up</span></a>
  						</div>
  						<div class="grid_1 down">
  							<a href="#"><span>Down</span></a>
  						</div>
  					</div>
  					
  					<div class="omega grid_10 band-name">
  						Blink 182 - <span class="votes">432,321 votes</span>
  						<div class="grid_9 submitted">
	  						Submitted on Feb. 9th, 2009 @ 20:46
	  					</div>
  					</div>
  				</div>
  								
  			</div>
  			
  			<!-- Band Block -->
  			<div class="grid_12 band odd">
  				
  				<!-- Band Rank -->
  				<div class="alpha grid_1 rank">
  					#3
  				</div>
  				
  				<!-- Band Info -->
  				<div class="omega grid_11 name">
  					<div class="grid_1 vote alpha">
  						<div class="grid_1 up">
  							<a href="#"><span>Up</span></a>
  						</div>
  						<div class="grid_1 down">
  							<a href="#"><span>Down</span></a>
  						</div>
  					</div>
  					
  					<div class="omega grid_10 band-name">
  						Blink 182 - <span class="votes">432,321 votes</span>
  						<div class="grid_9 submitted">
	  						Submitted on Feb. 9th, 2009 @ 20:46
	  					</div>
  					</div>
  				</div>
  								
  			</div>
  			
  			<!-- Band Block -->
  			<div class="grid_12 band even">
  				
  				<!-- Band Rank -->
  				<div class="alpha grid_1 rank">
  					#4
  				</div>
  				
  				<!-- Band Info -->
  				<div class="omega grid_11 name">
  					<div class="grid_1 vote alpha">
  						<div class="grid_1 up">
  							<a href="#"><span>Up</span></a>
  						</div>
  						<div class="grid_1 down">
  							<a href="#"><span>Down</span></a>
  						</div>
  					</div>
  					
  					<div class="omega grid_10 band-name">
  						Blink 182 - <span class="votes">432,321 votes</span>
  						<div class="grid_9 submitted">
	  						Submitted on Feb. 9th, 2009 @ 20:46
	  					</div>
  					</div>
  				</div>
  								
  			</div>
  			  			
  			<!-- Band Block -->
  			<div class="grid_12 band odd">
  				
  				<!-- Band Rank -->
  				<div class="alpha grid_1 rank">
  					#5
  				</div>
  				
  				<!-- Band Info -->
  				<div class="omega grid_11 name">
  					<div class="grid_1 vote alpha">
  						<div class="grid_1 up">
  							<a href="#"><span>Up</span></a>
  						</div>
  						<div class="grid_1 down">
  							<a href="#"><span>Down</span></a>
  						</div>
  					</div>
  					
  					<div class="omega grid_10 band-name">
  						Blink 182 - <span class="votes">432,321 votes</span>
  						<div class="grid_9 submitted">
	  						Submitted on Feb. 9th, 2009 @ 20:46
	  					</div>
  					</div>
  				</div>
  								
  			</div>
  			  			
  		</div>
  	
  	</div>
  	
  	<div id="footer" class="clearfix">
  		
  		<div class="container_12 clearfix">
  			
  			<div class="grid_12 clearfix">
  				Idea by Topher, implementation by me.
  			</div>
  			
  		</div>
  		
  	</div>
  	
  </body>
</html>